#text {
  color: white;
  padding-top: 10%;
  padding-left: 10%;
}
#text-line01 {
  padding-left: 5%;
}
#text-line02 {
  padding-left: 10%;
}
#text-line03 {
  padding-left: 15%;
}
#text-line04 {
  padding-left: 20%;
}
#text-line05 {
  padding-left: 25%;
}
