body {
  background-color: black;
  font-family: "Andale mono", monospace;
}
a {
  text-decoration: none;
}
p {
  color: white;
}
.nav-bar-tab {
  color: yellow;
  padding-left: 10%;
}
#current-tab {
  color: lawngreen;
  display: inline-block;
  padding-left: 10%;
}
#text {
  color: white;
  padding-top: 10%;
  padding-left: 10%;
}
#text-line01 {
  padding-left: 10%;
}
#text-line02 {
  padding-left: 20%;
}
