#text {
  color: white;
  padding-top: 10%;
  padding-left: 10%;
}
#text-line01 {
  color: deepskyblue;
  padding-left: 5%;
}
#text-line02 {
  color: deepskyblue;
  padding-left: 10%;
}
#text-line03 {
  color: deepskyblue;
  padding-left: 15%;
}
#text-line04 {
  color: deepskyblue;
  padding-left: 20%;
}
#text-line05 {
  color: deepskyblue;
  padding-left: 25%;
}
#text-line06 {
  color: deepskyblue;
  padding-left: 30%;
}
#text-line07 {
  color: darksalmon;
  padding-left: 35%;
}
#text-line08 {
  color: darksalmon;
  padding-left: 40%;
}
#text-line09 {
  color: darksalmon;
  padding-left: 45%;
}
#new-tab-icon {
  width: 15px;
}
