#text {
  color: white;
  padding-top: 10%;
  padding-left: 10%;
}
#text-line01 {
  color: deepskyblue;
  padding-left: 5%;
}
#text-line02 {
  color: deepskyblue;
  padding-left: 10%;
}
#text-line03 {
  color: deepskyblue;
  padding-left: 15%;
}
#text-line04 {
  color: deepskyblue;
  padding-left: 20%;
}
#text-line05 {
  color: deepskyblue;
  padding-left: 25%;
}
#text-line06 {
  color: deepskyblue;
  padding-left: 30%;
}
#text-line07 {
  color: darksalmon;
  display: inline-block;
  word-break: break-all;
}
#text-line08 {
  color: darksalmon;
  display: inline-block;
  word-break: break-all;
}
#text-line09 {
  color: darksalmon;
  display: inline-block;
  word-break: break-all;
}
#new-tab-icon {
  width: 15px;
}
#copy-email-bundle01 {
  display: block;
  padding-left: 10%;
  padding-right: 20%;
}
#copy-email-bundle02 {
  display: block;
  padding-left: 15%;
  padding-right: 20%;
}
#copy-email-bundle03 {
  display: block;
  padding-left: 20%;
  padding-right: 20%;
}
.copy-to-clipboard-icon {
  width: 12px;
}
