/* Mobile */
@media screen and (max-width: 719px) {
  #text {
    color: white;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 20%;
  }
  #text-line01 {
    padding-left: 5%;
  }
  #text-line02 {
    padding-left: 10%;
  }
  #face-pic {
    width: 40%;
    padding-top: 7%;
    padding-left: 28%;
  }
}

/* Desktop */
@media screen and (min-width: 720px) {
  #text {
    color: white;
    display: inline-block;
    padding-left: 10%;
  }
  #text-line01 {
    padding-left: 5%;
  }
  #text-line02 {
    padding-left: 10%;
  }
  #face-pic {
    width: 20%;
    padding-top: 12%;
    padding-left: 1%;
  }
}
