#text {
  color: white;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 20%;
}
#text-line01 {
  color: deepskyblue;
  padding-left: 5%;
}
#text-line02 {
  color: deepskyblue;
  padding-left: 10%;
}
#text-line03 {
  color: deepskyblue;
  padding-left: 15%;
}
#text-line04 {
  color: deepskyblue;
  padding-left: 20%;
}
#text-line05 {
  color: deepskyblue;
  padding-left: 25%;
}
#text-line06 {
  padding-left: 30%;
}
#hyperlink-github {
  color: deepskyblue;
}
#new-tab-icon {
  width: 15px;
}
