.dropbtn {
  background-color: black;
  border: none;
  color: lawngreen;
  cursor: pointer;
  font-family: "Andale mono", monospace;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

/* #ddm {
  color: lawngreen;
} */
