@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-15px) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

#text {
  animation-name: fade-in;
  animation-duration: 1s;
  color: white;
  padding-top: 10%;
  padding-left: 10%;
}
#text-line01 {
  color: deepskyblue;
  padding-left: 5%;
}
#text-line01-explanation01 {
  font-size: 10px;
  padding-left: 6%;
}
#text-line01-explanation02 {
  font-size: 10px;
  padding-left: 7%;
}
#apk {
  color: deepskyblue;
}
#text-line02 {
  color: deepskyblue;
  padding-left: 10%;
}
#text-line03 {
  color: deepskyblue;
  padding-left: 15%;
}
#text-line04 {
  color: deepskyblue;
  padding-left: 20%;
}
#text-line05 {
  color: deepskyblue;
  padding-left: 25%;
}
#text-line06 {
  padding-left: 10%;
  padding-right: 20%;
}
#hyperlink-github-bundle {
  display: inline-block;
}
#hyperlink-github {
  color: deepskyblue;
}
#new-tab-icon {
  width: 15px;
}
